<!DOCTYPE html>
<html>

<head>
  <script src="/js/jquery-3.5.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
  <script src="/js/validator.js"></script>
  <script>
    $(document).ready((event) => {
      var value = "<%= userdetails.gender %>";
      var country = "<%= userdetails.country %>";
      console.log("gender value " + value)
      $(`#${value}`).prop("checked", true);
      $(`#ddlcountry option[value=${country}]`).attr("selected", true);
    });
  </script>
  <style>
    .error {
      color: red
    }

    .required {
      color: red
    }

    input,
    select {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type=radio] {
      width: 10%;
    }


    input[type=submit] {
      background-color: #45a049;
      width: 25%;

    }

    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .required {
      color: red;
    }

    .one {
      background-color: white;
      border: 2px solid white;
      padding: 50px;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: 600px;
      margin-right: 600px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
</head>

<body>
  <h2 style="text-align: center;">Edit Details</h2>
  <div>
    <form action="/user/update/<%= userdetails.id %>" method="POST" id="form" class="one">
      <label for="name"><strong>Name</strong><span class="required">*</span></label><br>
      <input type="text" id="title" name="name" required value="<%= userdetails.name %>" placeholder="Name">
      <br>
      <label for="body"><strong>Email</strong><span class="required">*</span></label><br>
      <input type="text" id="email" name="email" required value="<%= userdetails.email %>" placeholder="Email">
      <br>
      <label for="dob"><strong>Date of Birth</strong><span class="required">*</span></label>
      <input type="date" id="date" name="dob" required value="<%= userdetails.dob %>" placeholder="Date Of Birth">
      <br>
      <label for="age"><strong>Age</strong><span class="required">*</span></label><br>
      <input type="number" id="age" name="age" required value="<%= userdetails.age %>" placeholder="Age">
      <br>
      <div class="gender">
        <label for="dob"><strong>Gender</strong><span class="required">*</span></label>
        <input type="radio" value="male" name="gender" id="male">
        <label for="male">Male</label>
        <input type="radio" value="female" name="gender" id="female">
        <label for="female">Female</label>
        <input type="radio" value="other" name="gender" id="other">
        <label for="other">Other</label>
      </div>
      <br>
      <label for="ddlcountry"><strong>Country</strong><span class="required">*</span></label><br>
      <div class="dd">
        <select id="ddlcountry" name="country">
          <option value="">Select--Country</option>
        </select></div>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html>